<form (ngSubmit)="addProduct()" [formGroup]="formGroup" >

  <ul formArrayName="products">
    <li *ngFor="let inputs of formGroup.controls.products.controls; let i = index">
      <ng-container [formGroup]="inputs">
        Name: <input formControlName="name"
                      placeholder="name">
        Price: <input formControlName="price"
                      placeholder="price"
                      [value]="inputs.value.price | format">
        <button (click)="removeProduct(i)">Remove</button>
      </ng-container>
    </li>
  </ul>


  <button type="submit">
    Add
  </button>
</form>

